section {
    height: 1500vh;
}
#jayjo {
    font-size: 40px;
}
#hannam {
    font-size: 40px;
}
#wooin {
    font-size: 40px;
}
#poel {
    font-size: 40px;
}
nav {
    font-size: 40px;
}
ol {
    font-size: 40px;
}
h1 {
    font-size: 50px;
}
img {
    width: 100%;
    height: auto;
}
